@media (max-width: 1200px) {
    header {
        nav {
            .menu {
                &_link {
                    font-size: 14px;
                }
            }
        }
    }

    .promo {
        &_title {
            font-size: 50px;
        }
    }

    .reasons {

        &_items_wrapper {
            .reasons_item {
                align-items: flex-start;

                .descr_block_title_wrapper {
                    width: 300px;
                }
            }
        }
    }
}

@media (max-width: 991px) {

    header {
        nav {
            .menu {
                &_item {
                    padding: 0 18px;
                }

                &_link {
                    font-size: 12px;
                }
            }
        }

        .subheader {
            &_content {
                &_logo_block {
                    &_official {
                        font-size: 11px;
                    }
                }

                &_call_us_block {
                    &_phone {
                        font-size: 18px;
                    }
                }

                &_request_call_wrapper {
                    width: 100%;

                    &_btn {

                        height: 40px;
                    }
                }
            }
        }
    }

    .promo {
        &_title {
            font-size: 40px;
        }

        &_subtitle {
            font-size: 30px;
        }

        &_descr {
            display: flex;
            justify-content: center;
            text-align: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            margin-top: 26px;

            &_text_wrapper {
                flex: 0 1 86%;
            }
        }

        &_btn {
            &:hover {
                transform: $scale-1-1;
            }
        }
    }

    .reasons {
        &_items_wrapper {
            .reasons_item {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                .descr_block_title_wrapper {
                    margin-top: 20px;

                    .descr_text_wrapper {
                        font-weight: 400px;
                        font-size: 15px;
                        line-height: 21px;
                        color: #000000;
                    }
                }
            }
        }
    }

}

@media (max-width: 575px) {



}