* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@mixin black-label-container {
    margin: 0 auto;
    display: flex;
    @include black-label-formating;
}

@mixin black-label-formating {
    width: 115px;
    height: 27px;
    background: #000000;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

@mixin black-title {
    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

@mixin sub-title {
    margin: 0 auto;    
    font-weight: 400;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    position: relative;
    min-height: 50px;

    nav {
        position: fixed;
        width: 100%;
        background-color: #212121;
        min-height: 50px;
        display: flex;
        align-items: center;
        z-index: 2;

        .header_nav_menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 70px;
            margin: 0;
            list-style-type: none;

            &_item {
                text-align: center;
                // padding-right: 30px;
                min-height: 30px;
                display: flex;
                align-items: center;
                border-right: 2px dotted #000000;
                padding:0 30px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    border-right: none;
                }
            }
                &_item_link {
                    font-weight: 300;
                    font-size: 15px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
        }
    }

    .subheader {
        position: absolute;
        display: flex;
        top: 50px;
        width: 100%;
        min-height: 87px;
        background-color: rgba(0, 0, 0, 0.6);

        &_content {
            display: flex;
            justify-content: space-between;
            padding: 21px 96px;
  
            &_logo_block {
                display: flex;
                flex-direction: column;
                flex: 1 1 60%;
                padding-right: 20px;

                &_official {
                    font-weight: 100;
                    font-size: 13px;
                    opacity: 0.5;
                    color: #FFFFFF;
                }

                &_wrapper {
                width: 285px;
                height: 32px;

                img {
                    display: block;
                    max-width: 100%;
                }

            }
            }

            &_call_us_block {
                flex: 1 1 20%;
                padding-right: 26px;

                &_title {
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 300;
                    text-align: right;
                    width: 160px;
                }

                &_phone {
                    margin-top: 6px;
                    font-weight: 400;
                    font-size: 22px;
                    text-align: right;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    width: 160px;
                }
            }

            &_make_call_wrapper {
                flex: 1 1 20%;

                &_btn {
                    font-weight: 400;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
                    width: 172px;
                    height: 46px;
                    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
                    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
                    border-radius: 4px;
                    border: none;
                }
            }
        }
    }
}

.promo {
    display:flex;
    background: url('../assets/img/bg/uber_bg.jpg') center (center / cover) no-repeat;
    min-height: 800px;
    padding: 155px 0 186px 0;

    &_title {
        margin: 0;
        font-weight: 900;
        font-size: 60px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &_subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0;
        margin-top: 22px;
    }

    &_descr {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 26px;

        &_text_wrapper {
            flex: 0 1 84%;
        }
    }

    &_btn {
        display: block;
        margin: 0 auto;
        width: 259px;
        height: 63px;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: none;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        margin-top: 116px;
        justify-self: center;
    }
}

.reasons {
    min-height: 849px;
    padding: 18px 0px 64px 0;
    display: flex;

        &_label {
            @include black-label-container;
        }

        &_title {
           @include black-title;
        }

    &_items_wrapper {
        display: flex;
        align-items:top;
        flex-wrap: wrap;
        
        
        .reasons_item {
            display: flex;
            flex: 1 1 50%;
            justify-content: center;
            align-items: top;
            margin-top: 35px;

            .icon_wrapper {
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 113px;
                height: 113px;
                background-color: #1eacc7;
                border-radius: 100%;
                margin-right: 26px;
            }

            .descr_block_title_wrapper {
                width: 371px;
                font-weight: 400;
                font-size: 17px;
                line-height: 21px;
                color: #1EACC7;
                 
                    &:nth-child(odd) {
                    width: 340px;
                }

                .descr_text_wrapper {
                    font-weight: 400px;
                    font-size: 15px;
                    line-height: 21px;
                    color: #000000;
                }
            }
        }
    }
}

.mobile_app {
    background: url('../assets/img/bg/mobile_bg.png') center center/cover no-repeat;
    display: flex;
    min-height: 864px;
    padding: 46px 0 80px 0;

    &_label {
        @include black-label-container;
    }

    &_title {
        @include black-title;
    }

    &_sub_title {
        @include sub-title;
    }

    &_items_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .mobile_item {
            margin-top: 30px;
            width: 320px;
            height: 280px;
            flex: 0 1 auto;
            position: relative;
            
            &_1 {
                background: url('../assets/img/mobile_karts/1_one_touch.png') center center/cover no-repeat;
            }
            &_2 {
                background: url('../assets/img/mobile_karts/2_good_serve.png') center center/cover no-repeat;
            }
            &_3 {
                background: url('../assets/img/mobile_karts/3_clear_price.png') center center/cover no-repeat;
            }
            &_4 {
                background: url('../assets/img/mobile_karts/4_сashless_payment.png') center center/cover no-repeat;
            }
            &_5 {
                background: url('../assets/img/mobile_karts/5_callback.png') center center/cover no-repeat;
            }
            &_6 {
                background: url('../assets/img/mobile_karts/6_divide_drive_payment.png') center center/cover no-repeat;
            }

            &_title {
                margin-top: 82.5px;
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            &_plus {
                width: 29px;
                height: 29px;
                background:#000000;
                border-radius:100%;
                position: absolute;
                bottom: 34px;
                left:50%;
                transform: translateX(-50%);
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items:center;

                &:before {
                    content: '';
                    width: 14px;
                    height: 2px;
                    background: #1EACC7;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 14px;
                    background: #1EACC7;
                }
            }
        }
    }
}
