@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  position: relative;
  min-height: 50px;
}
header nav {
  position: fixed;
  width: 100%;
  background-color: #212121;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
header nav .header_nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 70px;
  margin: 0;
  list-style-type: none;
}
header nav .header_nav_menu_item {
  text-align: center;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px dotted #000000;
  padding: 0 30px;
}
header nav .header_nav_menu_item:first-child {
  padding-left: 0;
}
header nav .header_nav_menu_item:last-child {
  padding-right: 0;
  border-right: none;
}
header nav .header_nav_menu_item_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
header .subheader {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50px;
  width: 100%;
  min-height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}
header .subheader_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 21px 96px;
}
header .subheader_content_logo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  padding-right: 20px;
}
header .subheader_content_logo_block_official {
  font-weight: 100;
  font-size: 13px;
  opacity: 0.5;
  color: #FFFFFF;
}
header .subheader_content_logo_block_wrapper {
  width: 285px;
  height: 32px;
}
header .subheader_content_logo_block_wrapper img {
  display: block;
  max-width: 100%;
}
header .subheader_content_call_us_block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  padding-right: 26px;
}
header .subheader_content_call_us_block_title {
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  text-align: right;
  width: 160px;
}
header .subheader_content_call_us_block_phone {
  margin-top: 6px;
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 160px;
}
header .subheader_content_make_call_wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}
header .subheader_content_make_call_wrapper_btn {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../assets/img/bg/uber_bg.jpg") center center/cover no-repeat;
  min-height: 800px;
  padding: 155px 0 186px 0;
}
.promo_title {
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo_subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 22px;
}
.promo_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 26px;
}
.promo_descr_text_wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 84%;
          flex: 0 1 84%;
}
.promo_btn {
  display: block;
  margin: 0 auto;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  margin-top: 116px;
  justify-self: center;
}

.reasons {
  min-height: 849px;
  padding: 18px 0px 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reasons_label {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.reasons_title {
  margin-top: 33px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.reasons_items_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reasons_items_wrapper .reasons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin-top: 35px;
}
.reasons_items_wrapper .reasons_item .icon_wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  margin-right: 26px;
}
.reasons_items_wrapper .reasons_item .descr_block_title_wrapper {
  width: 371px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}
.reasons_items_wrapper .reasons_item .descr_block_title_wrapper:nth-child(odd) {
  width: 340px;
}
.reasons_items_wrapper .reasons_item .descr_block_title_wrapper .descr_text_wrapper {
  font-weight: 400px;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

.mobile_app {
  background: url("../assets/img/bg/mobile_bg.png") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 864px;
  padding: 46px 0 80px 0;
}
.mobile_app_label {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.mobile_app_title {
  margin-top: 33px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.mobile_app_sub_title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #222222;
}
.mobile_app_items_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.mobile_app_items_wrapper .mobile_item {
  margin-top: 30px;
  width: 320px;
  height: 280px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
}
.mobile_app_items_wrapper .mobile_item_1 {
  background: url("../assets/img/mobile_karts/1_one_touch.png") center center/cover no-repeat;
}
.mobile_app_items_wrapper .mobile_item_2 {
  background: url("../assets/img/mobile_karts/2_good_serve.png") center center/cover no-repeat;
}
.mobile_app_items_wrapper .mobile_item_3 {
  background: url("../assets/img/mobile_karts/3_clear_price.png") center center/cover no-repeat;
}
.mobile_app_items_wrapper .mobile_item_4 {
  background: url("../assets/img/mobile_karts/4_сashless_payment.png") center center/cover no-repeat;
}
.mobile_app_items_wrapper .mobile_item_5 {
  background: url("../assets/img/mobile_karts/5_callback.png") center center/cover no-repeat;
}
.mobile_app_items_wrapper .mobile_item_6 {
  background: url("../assets/img/mobile_karts/6_divide_drive_payment.png") center center/cover no-repeat;
}
.mobile_app_items_wrapper .mobile_item_title {
  margin-top: 82.5px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_app_items_wrapper .mobile_item_plus {
  width: 29px;
  height: 29px;
  background: #000000;
  border-radius: 100%;
  position: absolute;
  bottom: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile_app_items_wrapper .mobile_item_plus:before {
  content: "";
  width: 14px;
  height: 2px;
  background: #1EACC7;
}
.mobile_app_items_wrapper .mobile_item_plus:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background: #1EACC7;
}